@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

:root {
    --hue: 223deg;
    --gray1: hsl(var(--hue) 10% 95%);
    --gray9: hsl(var(--hue) 10% 15%);
    --black: hsl(0 0% 0%);
    --primary3: hsl(var(--hue) 90% 75%);
    --primary5: hsl(var(--hue) 90% 55%);
    --primary6: hsl(var(--hue) 90% 45%);
    --trans-dur: 0.3s;
}

.creepy-btn {
    font-family: "Londrina Solid", sans-serif;
    background-color: var(--black);
    border-radius: 1.25em;
    color: var(--gray1);
    cursor: pointer;
    letter-spacing: 1px;
    min-width: 9em;
    outline: 0.1875em solid transparent;
    transition: outline 0.1s linear;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    position: relative;
}

.creepy-btn__cover,
.creepy-btn__eye {
    position: relative;
}

.creepy-btn,
.creepy-btn__pupil {
    background-color: var(--black);
}

.creepy-btn__cover,
.creepy-btn__pupil {
    border-radius: inherit;
    display: block;
}

.creepy-btn__cover {
    background-color: var(--primary5);
    box-shadow: 0 0 0 0.125em var(--black) inset;
    padding: 0.5em 1em;
    inset: 0;
    transform-origin: 1.25em 50%;
    transition:
        background-color var(--trans-dur),
        transform var(--trans-dur) cubic-bezier(0.65, 0, 0.35, 1);
}

.creepy-btn__eye {
    animation: eye-blink 3s infinite;
    background-color: var(--gray1);
    border-radius: 50%;
    overflow: hidden;
    width: 0.75em;
    height: 0.75em;
}

.creepy-btn__eyes,
.creepy-btn__pupil {
    position: absolute;
}

.creepy-btn__eyes {
    display: flex;
    align-items: center;
    gap: 0.375em;
    right: 1em;
    bottom: 0.5em;
    height: 0.75em;
    z-index: 0;
}

.creepy-btn__cover {
    z-index: 1;
}

.creepy-btn__pupil {
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    width: 0.375em;
    transform: translate(-50%, -50%);
}

.creepy-btn:focus-visible {
    outline: 0.1875em solid var(--primary3);
}

.creepy-btn:hover .creepy-btn__cover {
    background-color: var(--primary6);
}

.creepy-btn:focus-visible .creepy-btn__cover,
.creepy-btn:hover .creepy-btn__cover {
    transform: rotate(-12deg);
    transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1.65);
}

.creepy-btn:active .creepy-btn__cover {
    transform: rotate(0);
    transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
}

@keyframes eye-blink {

    0%,
    92%,
    100% {
        animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
        height: 0.75em;
    }

    96% {
        animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
        height: 0;
    }
}